
:root{
    --primary_color: #65b419;
    --secondary_color: #F58F21;
    --accent1: #36ca9a;
    --accent2: #66d8b4;
    --accent3: #ffffff;
    --accent4: #333333;


    --text_font: 'Roboto', 'Open Sans', sans-serif;
    --header_font:none;
    --para_font:none;


}

#about_con{
    background-color: #e6fcef;
}

.navbar{

   font-family: var(--text_font);
   font-weight: 700;

    
}
#navbar_container{
    background-color: var(--accent3);

}

.card_icons{
    color: var(--secondary_color);
}

#card_features{
    color: var(--accent4);
}

.categories_icons{

    color: var(--primary_color);
    height: 65px;
    width: 65px;

}
